<!DOCTYPE html>
<html lang="en">
<title>Endika Aguirre</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">   
<link rel="stylesheet" href="{{ url_for('static', filename='css/coming.css') }}"/>
<link rel="icon"  href="../static/Images/icon.png">
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />    
<script src="https://kit.fontawesome.com/6725912d12.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/comingsoonjs.js') }}"></script>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white" style="font-family: Raleway, sans-serif !important">
  
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">COMING SOON</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p id="demo" class="w3-large w3-center"></p>    
    <div class="likebutton" >
     <button class="btn btn-outline-light"  onclick="like()">Like</button>
     <i class="fas fa-thumbs-up fa-2x" ></i>
    </div>    
  </div>
  
  <div class="btn-outline-light "id="snackbar">Thanks!!!</div>

  <div class="w3-display-bottomleft w3-padding-large">
    Made by Endika Aguirre</a>
  </div>
</div>

</body>
<script src="{{ url_for('static', filename='js/comingsoonjs.js') }}"></script>
</html>
