<!DOCTYPE html>
<html lang="en">
<title>Endika Aguirre</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">   
<link rel="stylesheet" href="{{ url_for('static', filename='css/coming.css') }}"/>
<link rel="icon"  href="../static/Images/icon.png">
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />    


<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white" style="font-family: Raleway, sans-serif !important">
  
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Pagina no encontrada</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <h1 class="w3-large w3-center">Lo sentimos!!</h1>    
       
  </div>
  
  

  <div class="w3-display-bottomleft w3-padding-large">
    Made by Endika Aguirre</a>
  </div>
</div>

</body>

</html>
